<div class="bg-white/80 justify-center text-center">
<p class="font-bold text-4xl text-shadow-md mb-4">🛡️ Mentions Légales – HippoNuage</p>
<li class="font-bold">1. Éditeur du site</li>
<br>
<p class="text-center">Ce site est édité dans le cadre d’un projet étudiant.

Responsables du projet :
Jean Dupont & Arthur Chevalier (étudiants en développement web)
Adresse : Projet pédagogique – [Votre école], [Ville], France
</p>
<br>

<li class="font-bold mb-4">Hébergement</li>
<br>
<p class="text-center">
Le site est hébergé par :
[Nom de l’hébergeur (ex : Render, Vercel, Netlify...)]
Adresse : [Adresse de l’hébergeur]
Site web : [URL]
</p>
<br>
<li class="font-bold mb-4">3. Propriété intellectuelle</li>
<p class="text-center">L’ensemble des contenus (textes, images, logos, code) présents sur le site HippoNuage sont la propriété exclusive des auteurs du projet, sauf mention contraire.
Toute reproduction totale ou partielle est interdite sans autorisation préalable.
</p>
<br>
<li class="font-bold mb-4">4. Données personnelles</li>
<br>
<p class="text-center font-bold">🧾 Quelles données sont collectées ? </p><br>
<li class="text-center">Adresse e-mail</li>
<li class="text-center">Mot de passe (crypté)</li>
<li class="text-center">Métadonnées sur les fichiers stockés</li>
<br>

<p class="text-center font-bold"> Pourquoi sont-elles collectées ?</p><br>
<li class="text-center">Création d'un compte personnel sécurisé</li>
<li class="text-center">Vérification de l'identité via confirmation par e-mail</li>
<li class="text-center">Accès aux fichiers via un dashboard privé</li>

<br>
<li class="font-bold mb-4">6.Stockage et sécurité</li><br>
<p class="text-center">
Vos fichiers sont stockés sur un serveur tiers sécurisé (S3-compatible)

Les accès sont protégés par authentification

Aucune donnée n’est cédée à des tiers</p>
<br>
 <p class="text-center font-bold">Durée de conservation</p>
 <br>
 <p class="text-center">
Les données sont conservées tant que l’utilisateur conserve son compte actif. Vous pouvez demander la suppression de vos données à tout moment.
<br>
👤 Droits des utilisateurs
Conformément au RGPD, vous disposez des droits suivants :

Droit d’accès, de rectification et de suppression de vos données

Droit de portabilité

Droit d’opposition au traitement de vos données</p>
</div>