<!--Popup vérification email-->

<!-- home.component.html -->
<div class="flex flex-col md:flex-row min-h-screen">
  <!-- Sidebar -->
  <aside
    class="bg-white shadow-lg transition-all duration-300 ease-in-out fixed md:static inset-y-0 left-0 z-50 w-20 md:w-64"
    [ngClass]="{ 'w-64': openSidebar, 'hidden md:block': !openSidebar }">
    <div class="p-4 flex items-center justify-between border-b">
      <button (click)="toggleSidebar()" class="md:hidden p-2 rounded-full hover:bg-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
    </div>
    <nav class="py-4">
      <ul class="space-y-2">
        <li>
          <a href="#" (click)="setSection('dashboard', $event)"
            class="flex items-center space-x-3 px-4 py-4 hover:bg-gray-100 rounded-lg transition-colors"
            [ngClass]="{ 'bg-gray-100': activeSection === 'dashboard' }">
            <img src="assets/coffreouvert2.png" alt="Profil" class="inline-block ml-0 h-6 w-6">
            <span class="text-gray-700 transition-opacity duration-300"
              [ngClass]="{ 'block opacity-100': openSidebar || windowWidth >= 768, 'hidden opacity-0': !openSidebar && windowWidth < 768 }">
              Mes Fichiers
            </span>
          </a>
        </li>
        <li>
          <a href="#" (click)="setSection('profile', $event)"
            class="flex items-center space-x-3 px-4 py-2 hover:bg-gray-100 rounded-lg transition-colors"
            [ngClass]="{ 'bg-gray-100': activeSection === 'profile' }">
            <img src="assets/chevalierface2.png" alt="Profil" class="inline-block ml-0 h-6 w-6">
            <span class="text-gray-700 transition-opacity duration-300"
              [ngClass]="{ 'block opacity-100': openSidebar || windowWidth >= 768, 'hidden opacity-0': !openSidebar && windowWidth < 768 }">
              Profil
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>


  <!-- Main Content -->
  <main class="flex-1 p-4 md:p-6 overflow-y-auto">
    <div class="md:hidden flex justify-between items-center mb-4">
      <button (click)="toggleSidebar()" class="p-2 rounded-full hover:bg-gray-200">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </button>
    </div>

    <!-- Sections -->
    <div *ngIf="activeSection === 'dashboard'"><app-upload-button></app-upload-button>
      <app-email-verification-popup *ngIf="showEmailPopup" (closed)="onPopupClosed()" (resend)="onResendEmail()"
        class="">
      </app-email-verification-popup>
      <div class="mb-8"></div>
      <div class="bg-white p-4 rounded-lg shadow-md mb-8">
        <h1 class="text-2xl font-bold text-gray-800">Mes Fichiers</h1>
        <p class="text-gray-600 mt-1">Liste des fichiers stockés sur mon compte.</p>
      </div>

      <!-- Stats Table -->
      <div class="bg-white rounded-lg shadow-md overflow-x-auto overflow-y-auto mt-4" style="max-height: 600px;">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50 sticky top-0 w-full shadow-md z-10 p-4">
            <tr>
              <th class="px-4 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Nom de fichier
              </th>
              <th class="px-4 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Taille</th>
              <th class="px-4 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Date de création
              </th>
              <th class="px-4 py-3 text-left text-xs font-bold text-gray-500 uppercase tracking-wider">Actions</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let file of files">
              <td class="px-4 py-3 text-sm text-gray-900">{{ file.name }}</td>
              <td class="px-4 py-3 text-sm text-gray-700"> {{ (file.size / (1024 * 1024)) | number:'1.2-2' }} Mo</td>
              <td class="px-4 py-3 text-sm text-gray-700">{{ file.created_at | date:'dd/MM/yyyy HH:mm' }}</td>
              <td>
                <button title="Prévisualiser" (click)="previewFile(file.name)">
                  <img src="assets/oeildedragon2.png" alt="Prévisualiser" class="inline-block ml-2 h-6 w-6">
                </button>
                <button title="Supprimer Fichier">
                  <img src="assets/corbeillemedievale2.png" alt="Supprimer" class="inline-block ml-6 h-6 w-6">
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="activeSection === 'profile'" class="space-y-6">
      <header class="bg-white p-4 rounded-lg shadow-md mb-12">
        <h1 class="text-2xl font-bold text-gray-800">Mon Profil</h1>
        <p class="text-gray-600">Mettre à jour mes informations personnelles</p>
      </header>
      <div class="bg-white p-4 rounded-lg shadow-md">
        <form (ngSubmit)="onSubmitProfile()" #profileForm="ngForm" class="space-y-4" novalidate>



          <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="profile.email" required email #email="ngModel"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm
                 focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm"
              placeholder="monadressemail@domaine.exemple" />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-red-600 text-sm mt-1">
              <div *ngIf="email.errors?.['required']">Email requis.</div>
              <div *ngIf="email.errors?.['email']">Please enter a valid email address.</div>
            </div>
          </div>
          <div>
            <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe</label>
            <div class="relative">
              <input [type]="showPassword ? 'text' : 'password'" id="password" name="password"
                [(ngModel)]="profile.password" required #password="ngModel" class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm
            focus:outline-none focus:ring-green-500 focus:border-green-500 sm:text-sm pr-10"
                placeholder="Mot de passe sécurisé" />

              <!-- Bouton pour voir/cacher le mot de passe -->
              <button type="button" (click)="showPassword = !showPassword"
                class="absolute inset-y-0 right-0 px-3 flex items-center text-gray-600 focus:outline-none">
                {{ showPassword ? '🙈' : '👁️' }}
              </button>
            </div>
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-red-600 text-sm mt-1">
              Mot de passe requis
            </div>
          </div>
          <div *ngIf="successMessage" class="bg-green-100 text-green-700 px-4 py-2 rounded mb-4">
            {{ successMessage }}
          </div>
          <div *ngIf="errorMessage" class="bg-red-100 text-red-700 px-4 py-2 rounded mb-4">
            {{ errorMessage }}
          </div>
          <button type="submit" [disabled]="profileForm.invalid" class="w-full sm:w-auto inline-flex justify-center py-2 px-4 border border-transparent shadow-sm
               text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700
               focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
            Enregistrer
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
