<div class="hero-bg flex flex-col justify-start items-center overflow-hidden">
    <img src="/assets/logoV2.png" alt="HerosectionImg" class="backdrop-blur-sm mb-8 h-80">
    <h1 class="text-xl text-white font-bold pb-4">Bienvenue chez HippoNuage!</h1>
    <br>
    <p class="mb-8 text-white font-bold">⚔️ Le cloud des vrais chevaliers ⚔️</p>
    <a
        class="inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-black/60 hover:bg-gradient-to-b dark:shadow-blue-900 hover:shadow-sm hover:shadow-black hover:-tranneutral-y-px mb-8"
        [routerLink]="['/connexion']">Se connecter
    </a>
    <a
        class="inline-block w-auto text-center min-w-[200px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-black/60 hover:bg-gradient-to-b dark:shadow-blue-900 hover:shadow-sm hover:shadow-black hover:-tranneutral-y-px mb-8"
        [routerLink]="['/inscription']">S'inscrire
    </a>
        <div class="bg-white/70 p-4 rounded-lg shadow-md mb-12 flex flex-col justify-center items-center">
            <h1 class="text-2xl font-bold text-gray-800">HippoNuage, c'est quoi?</h1>
            <div class="bg white/70 p-4 rounded-lg shadow-md  flex gap-4 sm: flex-col">
                <div class="bg-white/70 p-4 rounded-lg shadow-md mb-12 text-center hover:bg-blue-400">
                    <p class="text-black mt-1">HippoNuage, c'est une solution de cloud, pensée & développée par deux élèves étudiant en développement fullstack</p>
                </div>
                <div class="bg-white/70 p-4 rounded-lg shadow-md mb-12 text-center hover:bg-blue-400">
                    <p class="text-black mt-1">Conçue en microservices, cette solution leur permet de développer de solides compétences en web.</p>
                </div>
                <div class="bg-white/70 p-4 rounded-lg shadow-md mb-12 text-center hover:bg-blue-400">
                    <p class="text-black mt-1">Spring-Boot pour les trois API / Angular pour une SPA optimale & scalable, un système de stockage sur API tierce (S3) et une base de données PostGreSQL, le tout conteneurisé avec docker </p>
                </div>
        </div>
</div>
